body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.house {
    position: relative;
}

.base {
    width: 200px;
    height: 150px;
    background-color: #9a9687;
    position: relative;
}

.roof {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #de8211;
    position: absolute;
    top: -99px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.door {
    width: 60px;
    height: 90px;
    background-color: #8b4513;
    position: absolute;
    top: 50px;
    right: 25px;
}

.window {
    width: 50px;
    height: 50px;
    background-color: #add8e6;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 25px;
}

.chimney {
    width: 20px;
    height: 120px;
    background-color: #302f2d;
    position: absolute;
    bottom: 150px;
    left: 150px;
}